/*
!/build.gradle
!/gradle.properties
!/gradle/
/gradle/*
!/gradle/wrapper/
!/gradlew
!/gradlew.bat
!/LICENSE.txt
!/LICENSE
!/README.md
!/push.bat
!/.github/
!/modir/
/modir/*
!/modir/TrackAPI-1.2.jar
!/modir/UniversalModCore-1.12.2-forge-1.2.1.jar
!/modir/README.md
!/src/
